@model WebApplication2.Models.ConfigModel
@{
    ViewBag.Title = "Config";
}

<h2>Config</h2>
<br />
<p> @Html.DisplayNameFor(model => model.SourceName) : @Html.DisplayFor(model => model.SourceName)</p>
<p> @Html.DisplayNameFor(model => model.OutputDir) : @Html.DisplayFor(model => model.OutputDir)</p>
<p> @Html.DisplayNameFor(model => model.LogName) : @Html.DisplayFor(model => model.LogName)</p>
<p> @Html.DisplayNameFor(model => model.ThumbnailSize) : @Html.DisplayFor(model => model.ThumbnailSize)</p>

<br />
<p> Handlers List:</p>
@foreach (string handler in Model.handlersList)
{
    @Html.ActionLink(@handler, "RemoveHandler", new WebApplication2.Models.RemoveHandlerModel(@handler))
    <br />
}